*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body{
  display:grid;
  place-content:center;
  height:100dvh;
}

div{
  display:grid;
  place-content:center;
  width:400px;
  height:250px;
  background: #0002;
}


.synlig{
  display:grid;
}

.osynlig{
  display:none;
}